In [6]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [7]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 94.0.4606
[WDM] - Get LATEST driver version for 94.0.4606
[WDM] - Driver [/Users/jessekelsey/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
# We are searching to elements with a specific combo of tag div and attribute list_text
#Secondly we are telling our browser to wait one second beofre searching for components
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [9]:
html = browser.html
news_soup = soup(html, 'html.parser')
#Slide_elem is the variable assigned to look for the div tag and all the nested element insideit 
#div.list_text selects div tag with the class of list_text
#The select_one, the first matching element returned will be a list element with a class of slide and all elements in it
slide_elem = news_soup.select_one('div.list_text')

In [10]:
#Searching for article title
#Asking our slide_elem variable to find specific info of context title under div
slide_elem.find('div', class_='content_title')

In [11]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Three New Views of Mars' Moon Phobos"

In [12]:
# Use the parent element to find the paragraph text
#Using find instead of find all to get the first one since there are many article_teaser_body elements
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow."

### Featured Images

In [13]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [14]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [15]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [16]:
# Find the relative image url
#'img' is the tag with a class of 'fancybox-image' and get the link inside these tags
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [17]:
# Use the base URL to create an absolute URL
# This includes the base url plus the link for the most recent image in the cell above
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Table Data from Mars Facts Website

In [18]:
# Creating a DF from the HTML table. the read_html specifically searches for tables and the index of 0 means to pull the first instance
df = pd.read_html('https://galaxyfacts-mars.com')[0]
# this specifies the columns
df.columns=['description', 'Mars', 'Earth']
# this specifies that description is the first column
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [19]:
# In order to keep the updated html data as the website refreshes, we have this html ready code
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
#This tells the automated browsing system to stop
browser.quit()